* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 100%;
    scroll-behavior: smooth;
}
:root {
    --bg-color: #ffffff;
    --whit-color: #fff;
    --main-color:#3b8501;
    --other-color: #706b63;
    --service-color: #f9f6f2;
    --bigfont-color: #271f12;
    --para-color: #48870c;
    --linear-color:#233e19;
    --big-font: 2.8rem;
    --h2-font: 3.2rem;
    --p-font: 1rem;
}
/* UTILITIES */
section {
    padding: 50px 10%;
}
.center-text {
    text-align: center;
}
.flex-item {
    display: flex;
    gap: 2rem;
}
/* UTILITIES END */
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 25px 10%;
    background: var(--bg-color);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    z-index: 10000000;
    transition: all .35s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h1 {
    font-size: 1rem;
    color: var(--bigfont-color);
}
.logo h1 .green {
    color: var(--main-color);
}
.navbar {
    display: flex;
    align-items: center;
}
.navbar a {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 200;
    color: var(--bigfont-color);
    transition: all .35s ease;
}
.navbar a:hover {
    color: var(--main-color);
}
/* HAMBURGER MENU */
.hamburger {
    cursor: pointer;
    transition: all 0.25s;
    display: none;
    position: relative;
    margin-right: 10px;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000;
    transform: rotate(0);
    transition: all 0.5s;
}
.hamburger-middle {
    transform: translateY(7px);
}
.hamburger-bottom {
    transform: translateY(14px);
}
.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}
 .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
 }
 .open .hamburger-middle {
    display: none;
 }
 .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
 }
/* HAMBURGER MENU END*/
/* HOME PAGE */
.load{
    animation: slide 2s;
}
.home {
    padding: 50px 0px;
}
.slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 20s linear infinite;
}
.content {
    position: relative;
    color: var(--whit-color);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}
.principal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.principal h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.principal p {
    font-size: 20px;
    margin-bottom: 3rem;
    
}
.link {
    color:var(--whit-color) ;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 5px;
    transition: all .35s ease;
}
.link:hover {
    background-color: transparent;
    border: 2px solid var(--main-color);
}

@keyframes slide {
    0% {
        background-image: url('./img/IMG-20230309-WA0185.jpg');
    }
    20% {
        background-image: url('./img/IMG-20230309-WA0185.jpg');
    }
    20.01% {
        background-image: url('./img/IMG-20230309-WA0186.jpg');
    }
    40% {
        background-image: url('./img/IMG-20230309-WA0186.jpg');
    }
    40.01% {
        background-image: url('./img/IMG-20230309-WA0187.jpg');
    }
    60% {
        background-image: url('./img/IMG-20230309-WA0187.jpg');
    }
    60.01% {
        background-image: url('./img/IMG-20230309-WA0188.jpg');
    }
    80% {
        background-image: url('./img/IMG-20230309-WA0188.jpg');
    } 
    80.01% {
        background-image: url('./img/about.jpg');
    }
    100% {
        background-image: url('./img/about.jpg');
    }
}
/* END OF HOME PAGE */
/* ABOUT PAGE */
    .about {
        background-color: var(--bg-color);
    }
    .flex-inner {
        text-align: center;
    }
    .flex-item img {
        border: 7px solid var(--main-color);
    }
    .text {
        font-size: var(--big-font);
        color: var(--bigfont-color);
        margin-bottom: 0.2rem;
        letter-spacing: 2;
    }
    .center-text p {
        color: var(--para-color);
        font-weight: 600;
        margin-bottom: 1rem;
        font-size: var(--p-font);
    }
    .about-text p {
        font-size: var(--p-font);
        line-height: 2;
        letter-spacing: 2;
        color: var(--other-color);
        margin-bottom: 1rem;
    }
    .flex-inner .more {
        background-color: var(--main-color);
        color: var(--whit-color);
        padding: 10px;
        border-radius: 10px;
        transition: all .35s ease;
    }
    .flex-inner .more:hover{
        background-color: transparent;
        border: 1px solid var(--main-color);
        color: var(--main-color);
    }
/* END OF ABOUT PAGE */
/* SERVICE PAGE */
.service {
    background-color: var(--service-color);
    margin-top: 40px;
}
.service-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 6rem;
    cursor: pointer;
}
.main {
    padding: 0px 0px 10px 0px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 5px 40px rgb(19 8 73 / 13%);
    background-color: var(--whit-color);
}
.service-content img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.service-text{
    text-align: center;
    padding: 20px 15px;
}
.service-text h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}
.service-text p {
    font-size: var(--p-font);
    line-height: 2;
    color: var(--other-color);
}
/*END SERVICE PAGE */
/* TESTIMONIAL SECTION */

#testimonial h3 {
    text-align: center;
    color: var(--main-color);
    font-size: 1.5rem;
    margin-bottom: 10px;
}
#testimonial h2 {
    text-align: center;
    font-size: 2rem;
}
.testimonial-container {
    background-color: var(--main-color);
    color: #fff;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width: 768px;
    position: relative;
  }
  
  .fa-quote {
    color: rgba(255, 255, 255, 0.3);
    font-size: 28px;
    position: absolute;
    top: 70px;
  }
  
  .fa-quote-right {
    left: 40px;
  }
  
  .fa-quote-left {
    right: 40px;
  }
  
  .testimonial {
    line-height: 28px;
    text-align: justify;
  }
  
  .testimonial-container .user {
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .testimonial-container {
      padding: 20px 30px;
    }
    #testimonial h3 {
        font-size: 1rem;
    }
    #testimonial h2 {
        font-size: 1.5rem;
    }
    .fa-quote {
      display: none;
    }
  }
/* TESTIMONIAL SECTION END*/
/* CONTACT PAGE */
.contact {
    position: relative;
    background: url('./img/IMG-20230309-WA0188.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 2rem;
}
.contact-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.contact-inner h2 {
    color: var(--whit-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
}
.contact-inner p {
    color: var(--whit-color);
    text-align: center;
}
.contact-form{
    margin-top: 2.5rem;
    justify-content: space-around;
}

.form-control {
    margin-bottom: 1rem;
}
.form-control input {
    padding: 15px  15px 10px;
    width: 200%;
    border-radius: 3px;
    outline: none;
    border: 0;
}
textarea {
    height: 50px;
    resize: none;
    padding: 8px 15px;
    width: 200%;
    outline: none;
    background-color: var(--whit-color);
    
}
form .send {
    color:var(--whit-color) ;
    background-color: var(--main-color);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all .35s ease;
    border: none;
    outline: none;
    cursor: pointer;
}
form .send:hover {
    background: transparent;
    border: 1px solid var(--main-color);
}
.contact_container {
    margin-top: 3rem;
}
.contact-link {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}
.contact-link address {
    color: var(--whit-color);
}
.contact-link a {
    color: var(--whit-color);
}
.contact-link i {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--main-color);
}
/* CONTACT PAGE ENDS */

/* FOOTER PAGE */
.footer {
    background-color: var(--bg-color);
    padding-top: 5rem;
}
.footer-inner {
    align-items: center;
    justify-content: space-between;
}
.footer .line {
    width: 100%;
    height: 0.5px;
    background-color: var(--other-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.footer-text {
    text-align: center;
    font-size: 1rem;
    color: var(--other-color);
}
.social_handles a i {
    color: var(--main-color);
    padding: 0px 5px;
    font-size: 20px;
}
.footer-nav {
    display: flex;
    align-items: center;
}
.footer-nav a {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 200;
    color: var(--bigfont-color);
    transition: all .35s ease;
}
/* FOOTER PAGE ENDS */

@media (max-width: 680px) {
    section {
        padding: 50px 5%;
    }
    .navbar {
        position: absolute;
        display: none;
        top: 100%;
        right: 0;
        flex-direction: column;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 30px;
        background-color: var(--bg-color);
        transition: all 35s ease-in-out;
    }
    .navbar a {
        display: block;
        color: var(--bigfont-color);
        padding: 0.8rem;
        margin-top: 20px;
        font-size: 20px;
    }
    .navbar.show {
        display: block;
    }
    .hamburger {
        display: block;
    }
    .principal h1 {
        font-size: 50px;
    }
    .principal p {
        font-size: 20px;
    }
    .flex-item {
        display: flex;
        flex-direction: column;
    }
    .about-text p {
        text-align: center;
    }
    .contact-inner h2 {
        font-size: 1.5rem;
    }
    .contact-form {
        margin-top: 2rem;
    }
    .form-control input, textarea {
        width: 100%;
    }
    form .send {
        width: 100%;
    }
    .contact-link {
        margin-bottom: 1rem;
        flex-direction: row;
    }
    .contact-link i {
        margin-right: 10px;
        margin-left: 20px;
    }
    .contact_container {
        margin-top: 5px;
    }
    .footer-nav {
        display: block;
        display: flex;
        font-size: 20px;
        flex-direction: row;
    }
    
}